/* *{
    border: 1px solid;
} */



.wholeblogssection{
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-around;
    height: 706px;
    width: 80%;
    background-color: white;
    align-self: center; 
}
.blogstitlediv{
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 5%; */
}
.blogscenter{
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* space around or something similar to center and work with the width and padding*/
    /* background-color: #8A5284; */
    
}
.tripletblogs{
    display: flex;
    flex-direction:column;
    /* align-items: center; */
    justify-content: space-around;/*I may delete it later*/
    height: 400px;
    width: 300px;
    /* background-color: blue; */
}
.mydivouter{
    position :relative;
    width: 300px;
    height: 300px;
}
.BlogImagetriplet{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 300px;
    width: 300px;
}
.Blogsmaintitleheader{
    background-color: white;
    color:#5C575C;
}
.showMoreBlogButton{
    border: none; 
    /* border-radius: 15px 50px;  */
    border-radius: 100px;
    background: #8A5284;
    width: 127px;
    height: 50px;
    color: white;
    font-weight: bold;
 }


.blogstitlediv{
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 5%; */
}

.blogsbuttondiv{
    /* background-color:gray ; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.blogstitleheader{
    background-color: white;
    color:#5C575C;
    text-align: start;
}
.blogsdateheader{
    background-color: white;
    text-align: start;
    color:#5C575C;
}
.Blogsmaintitleheader{
    background-color: white;
    color:#5C575C;
}
.showMoreBlogButton:hover {
    background-color: white;
     color: #8A5284; 
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 

.mydivouter{
    position :relative;
    width: 300px;
    height: 300px;
}
.mybuttonoverlap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    display: none;
}
.mydivouter:hover .mybuttonoverlap{ 
    display: inline-block;
    padding: 3px;
    margin:0 ;
}
.mybuttonoverlap {
    border-radius: 4px;
    background-color: whitesmoke;
    border: none;
    color: black;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.mybuttonoverlap span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.mybuttonoverlap span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.mybuttonoverlap:hover span {
    padding-right: 25px;
}
  
.mybuttonoverlap:hover span:after {
    opacity: 1;
    right: 0;
}
     
    



    @media screen and (max-width: 1300px)and (min-width:1050px) {
        .tripletblogs{
            height: 400px;
            width: 250px;
            /* background-color: blue; */
        }
        .BlogImagetriplet{
            height: 250px;
            width: 250px;
        }

        .mydivouter{
            width: 250px;
            height: 250px;
        }
        .mybuttonoverlap {
            font-size: 20px;
            padding: 15px;
            width: 170px;
           
        }
    }


    @media screen and (max-width: 1050px)and (min-width:800px) {
        .tripletblogs{
            height: 300px;
            width: 200px;
            /* background-color: blue; */
        }
        .BlogImagetriplet{
            height: 200px;
            width: 200px;
        }

        .mydivouter{
            width: 200px;
            height: 200px;
        }
        .mybuttonoverlap {
            font-size: 18px;
            padding: 13px;
            width: 130px;  
        }
    }
 
    @media only screen and (max-width:800px){
        .wholeblogssection{
            text-align: center;
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: space-around;
            height: 1500px;
            width: 80%;
            background-color: white;
            align-self: center;
            }
        .blogscenter{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between; /* space around or something similar to center and work with the width and padding*/
            /* background-color: #8A5284; */
                
            }
        .tripletblogs{
            height: 400px;
            width: 300px;
            margin: 5%;
            /* background-color: blue; */
            }
        } 
    
    
        
        
        
    
    
    
    @media only screen and (max-width:380px){
        .wholeblogssection{
            text-align: center;
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: space-around;
            height: 1500px;
            width: 80%;
            background-color: white;
            align-self: center;
            }
        .blogscenter{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between; /* space around or something similar to center and work with the width and padding*/
                /* background-color: #8A5284; */
                
            }
        .tripletblogs{
                display: flex;
                flex-direction:column;
                /* align-items: center; */
                justify-content: space-around;/*I may delete it later*/
                height: 300px;
                width: 200px;
                margin: 5%;
                /* background-color: blue; */
            }
        .BlogImagetriplet{
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                height: 200px;
                width: 200px;
            }
    
        .mydivouter{
                position :relative;
                width: 200px;
                height: 200px;
            }
        .mybuttonoverlap {
                font-size: 18px;
                padding: 13px;
                width: 130px;  
            }
        
    }