         
         /* h1{
    border: 1px solid red;
} */
.blogstitle
{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        
}
.BlogsContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 600px;
    gap: 50px;
}

/* .blogONE{
   display: flex;
   flex-direction: column;
   align-items: space-between;
    height: 400px;
    width: 22%;
    align-self: auto;
} */

.soura{
    height: 300px;
    width: 300px;
    display: flex;
    align-self: center;
    /* border-right: 3px solid gray;
    border-bottom: 3px solid gray;
     */
}

.tripletblogs{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 22%;
    justify-content: center;
    justify-self: center;
    align-self: center;
    
}

/* .blogTHREE{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 22%;
    justify-content: space-between;
    align-self: auto;
} */


.button{
 display: flex;
 justify-content: center;
 align-items: center;
}

p{
    color: rgba(92, 87, 92, 100%);
}

.showMoreBlogButton{
   border: none; 
   font-size: larger;
   background-color: transparent;
}