.admin-experiences {
  display: flex;
  flex-direction: column;
}

.admin-experiences h1 {
  color: #8a5284;
  font-size: 3em;
  font-weight: 800;
  letter-spacing: 0.1em;
  margin: 1em;
  margin-bottom: 0;
}

.admin-experiences__list {
  display: flex;
  flex-wrap: wrap;
}
