.btn2{
    background: #FFFFFF;
    border-radius: 13.9355px;
    color: balck;
    font-size: 20px;
    padding: 10px 10px;
    margin: 20px;
    cursor: pointer;
    width: 172.65px;
    height: 53.97px;
    border: none;
    margin-top: 1px;
    text-transform: capitalize;
    opacity:1
}

.aboutme{
    background: linear-gradient(90.18deg, #684464 30.43%, #1D1D1D 89.19%, #1D1D1D 89.19%);
    display: flex;
    flex-direction: column;
    padding-left:3rem;
    padding-right: 15rem;
    color:white;
    align-content:center;
    
}

h1{
    margin-bottom: 1px;

}


.btn2:hover{
    box-shadow: 12px 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    opacity:1.3;
}
