.experience-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4em;
}

.experience-container {
  width: 75vw;
  margin: 0.5em 0;
}

.experience-section h1 {
  display: flex;
  justify-content: center;
  margin: 1em;
  margin-bottom: 2.5em;
}

@media (max-width: 890px) {
  .experience-section h1 {
    margin-bottom: 1em;
  }

  .experience-section {
    margin-bottom: 1em;
  }
}
