.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #8A5284;
    color:white;
    gap:2.4rem;
}


.footer-back-to-top{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.footer-socail-media{
    display: flex;
    flex-direction: row;
    gap:2.4rem;

}

.footer-copright span{
    font-weight: 800;
}

.envelope{
    font-size: 2.1rem;
}
@media screen  and (max-width:385px){

    .footer-copright{
        display: flex;
        flex-direction: column;
        align-items: center
    }
    
}

@media screen  and (max-width:263px){
    .footer-socail-media{
        display: flex;
        flex-direction: column;
        gap:0.3rem;
        align-items: center
    }


}
