.ProjectstitleL{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 150px;
    color: #5C575C;
    margin-bottom: 200px;
}
#allProjectsPage{
    margin-bottom: 200px ;
}